// Namespaces -------------------------------------------------- //
@use 'sass:math';

// Basics ------------------------------------------------------ //
@import 'vars';

// Modules ----------------------------------------------------- //
@import '../../../node_modules/normalize.css/normalize';
@import '../../../node_modules/formbase/src/styles/main';

// Styles ------------------------------------------------------ //
@import 'html';
@import 'body';
@import 'customScrollbar';
@import 'fonts';
@import 'headline';
@import 'text';
@import 'label';
@import 'link';
@import 'input';
@import 'select';
@import 'control';
@import 'inputMessage';
@import 'main';
@import 'card';
@import 'spinner';
@import 'updater';
@import 'loader';
@import 'message';
@import 'header';
@import 'content';
@import 'barChart';
@import 'line';
@import 'linkItem';
@import 'flexList';
@import 'emptyState';
@import 'valueUnit';
@import 'favicon';
@import 'modal';
@import 'context';
@import 'filter';
@import 'keyHint';
@import 'status';
@import 'facts';
@import 'tooltip';
@import 'badge';

// Helpers ----------------------------------------------------- //
@import 'align';
@import 'spacer';
@import 'color';


* {
  -webkit-tap-highlight-color: transparent;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

@media (max-width: 1024px) {
	::-webkit-scrollbar {
	width: 0px;
	}
}

::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}